.hub_card {
  margin: 25px;
  padding: 20px 15px;
  height: 300px;
  overflow-y: auto;
  background-color: white;
  .header {
      display: flex;
  }
  p {
      font-weight: normal!important;
  }
  .bold {
    font-weight: 700!important;
  }
}
