.hub_post {
  .comment {
    display: flex;
    flex-direction: row;
    .avatar-circle {
      margin-right: 20px;
    }
    textarea {
      padding: 20px;
    }
  }
  .hub_button_container {
    margin: 25px 0px 0px 71px;
  }
  .loggedout {
      font-weight: normal;
  }
}

.error_message {
  color: red;
  font-size: 16px;
  font-weight: 500;
  padding-left: 55px;
}