.hub_card {
  padding: 20px 15px;
  height: 300px;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;

  .header {
    display: flex;
  }

  p {
    font-size: 1.15em;
    margin: 15px;
  }

  .bold {
    font-weight: 700 !important;
  }
}
