button {
  border-radius: 20px !important;
  padding: 6px 10px;
  font-size: 0.8em !important;

  background-color: var(--dark-green);
  color: white;
  border: none;
  box-shadow: 0 4px 4px 0 var(--shadow-color);
}

button.secondary {
  background-color: #00000000;
  border: 1px solid black;
  color: black;
}