nav {
  box-shadow: 0 4px 10px 0 var(--shadow-color);
  padding: 8px 15px;
  position: relative;
  z-index: 5000;
  background-color: white;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    white-space: nowrap;
  }

  a:hover {
    color: black;
  }

  img.logo {
    width: 50px;
  }

  span.site-title {
    font-weight: 700;
    white-space: nowrap;
  }

  .group {
    display: inline-flex;
    align-items: center;
    flex: 1;
  }

  .group > *:not(:first-child) {
    margin-left: 15px;
  }

  .right {
    justify-content: flex-end;
  }

  .icon {
    height: 25px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .nav-spacer {
    width: 5px;
  }
}