.cover {
  padding: 12.6vh 10vw;

  h1 {
    font-size: 4.5em;
    font-weight: 600;
    margin-bottom: 3vh;
  }

  p {
    font-size: 1.4em;
    width: 35vw;
    margin-bottom: 5vh;
  }

  img {
    position: fixed;
    height: 80vh;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}
.content {
  position: absolute;
}
