.uni-gallery-wrapper {
  .uni_gallery {
    a {
      text-decoration: none;
      color: black;
    }

    p {
      font-size: 1.5em;
    }
  }
  h1 {
    font-weight: 700;
    margin-left: 150px;
  }
  h3 {
    font-weight: 700;
    margin-bottom: 20px;
  }
  .light_green {
    background-color: #e4eeea;
    border-radius: 10px;
    padding: 50px;
    width: 80%;
    margin: auto;
  }
  @media only screen and (max-width: 500px) {
    .light_green {
      width: 95%;
      padding: 25px;
    }
  }
}
