.uni-gallery {
  border-radius: 20px;
  background-color: var(--light-green);
  padding: 38px 30px;
  text-align: left;
  max-height: 70vh;
}

.uni-gallery h4 {
  font-size: 1.5em;
}

.uni-gallery .card-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 -15px 0;
  overflow-y: auto;
  height: 350px;
}

.uni-card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  margin: 15px;
  width: 170px;
  box-shadow: 0 5px 12px 0 var(--shadow-color);
  transition: 0.3s;
  height: 220px;
}

.uni-card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.uni-card img {
  height: 110px;
  margin-bottom: 10px;
}