.hub_post {
  margin: 0 50px 60px 50px;
}
.comment {
  input {
    height: 89px;
    width: 698px;
    border-color: rgba(0, 0, 0, 0.7) !important;
  }
}
textarea {
    padding: 10px;
}
.pic {
  margin-right: 10px;
  margin-bottom: 77px;
}

.btn {
  float: right;
  margin-top: 10px;
}
