.mentor-card {
  display: inline-block;
  overflow-y: auto;
  width: 300px;
  box-shadow: 5px 5px 12px 0 var(--shadow-color);
  padding: 10px;
  margin: 15px;
  height: 350px;
}

.mentor-card .image-wrapper {
  height: 170px;
  overflow: hidden;
}

.mentor-card img {
  width: 100%;
}

.mentor-card h2 {
  font-size: 1.6em;
  text-align: center;
  margin-top: 10px;
}

.mentor-card .text {
  padding: 5px;
}

.mentor-card h3 {
  font-size: 1em;
  font-weight: 600;
}

.mentor-card p {
  text-overflow: ellipsis;
}
