.modal {
  height: 80vh !important;
  margin: 5vh 25vw !important;
  width: 50vw !important;
  margin-top: 100px !important;

  .img-wrapper {
   
    overflow: hidden;
  }

  img {
    max-width: 100%;
  }

  h1 {
    margin: 10px 0;
    text-align: center;
  }

  .button-wrapper {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }
}
