.intro-section {
  padding: 10vh 8vw;
  max-width: 40%;
  text-align: center;
}

.intro-section h1 {
  font-size: 3.5em;
  font-weight: 700;
}

.intro-section h3 {
  font-size: 1.6em;
  font-weight: 600;
  margin-top: 30px;
}

.intro-section img {
  width: 28vw;
}

.form {
  background-color: var(--light-green);
  padding: 5vw 9vw;
  flex: 1;
  box-shadow: 0 -5px 15px var(--shadow-color);
  overflow-y: auto;
}

.form h1 {
  font-weight: 700;
  font-size: 2.4em;
  margin-bottom: 20px;
}

.form p {
  font-size: 1.35em;
  
}

.form label {
  display: block;
  font-size: 1.15em;
  font-weight: 700;
}

.form .group {
  margin-bottom: 15px;
}

.form .inline.group {
  display: inline-block;
  width: calc(50% - 20px);
}

.form .inline.group.right {
  float: right;
}

.form .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  
}

.error {
  color: red;
  font-size: 16px;
  font-weight: 500;
}

.bottom_padding {
  margin-bottom: 25px;
}

a {
  color: black;
  &:hover {
    color: grey;
  }
}
